.red-nav {
  background-color: #f72210;
}

nav .right-button {
  margin-right: -12px;
}

.weather img {
  width: 25px;
}

.brand svg {
  fill: white;
}

.nav-white {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.nav-white .v-bar {
 border-right: 1px solid #cecdcd;
 color: white;
}

.nav-white a {
  text-decoration: none;
  color: black;
}

.nav-white a:hover {
  text-decoration: none;
  color: #f72210;
}


