.red-nav {
  background-color: #f72210;
}

nav .right-button {
  margin-right: -12px;
}

.weather img {
  width: 25px;
}

.brand svg {
  fill: white;
}

.brand1 svg {
  fill: #f72210;
}

.nav-white {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-white .v-bar {
  border-right: 1px solid #cecdcd;
  color: white;
}

.nav-white a {
  text-decoration: none;
  color: black;
}

.img-lg {
  width: 100%;
}

.red-under1 {
  color: black;
  font-size: larger;
}

.insight-tx {
  width: 170px;
  position: relative;
  top: -23px;
}

.story-tx {
  width: 60px;
  color: #f72210;
  text-align: center;
  position: relative;
  top: -23px;
}

.travel-tx {
  font-size: small;
  width: 50px;
  color: #474747;
  background-color: gray;
  text-align: center;
  position: relative;
  top: -19px;
}

.travel-tx2 {
  font-size: 20px;
  line-height: 0em;
  text-decoration: none;
  color: #474747;
  font-family: 'Times New Roman', Times, serif;
}

.more-stories .red-under1 {
  color: black;
  font-size: large;
  line-height: 0em;
}

.opinion .img-rd .img-rd-container {
  width: 75px;
  height: 75px;
}

.opinion .img-rd {
  width: 75px;
  height: 75px;
}

.red-under2 {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.op-uthor {
  font-size: 12px;
}

.img-debate {
  width: 100px;
  height: 100px;
}

.img-debate-rd {
  width: 100px;
  height: 100px;
  margin-top: -30px;
}

.debate-bt-bd1 {
  border-bottom: 3px solid rgb(228, 225, 225);
  border-top: 5px solid #f72210;
}

.debate-bt-bd2 {
  border-bottom: 3px solid rgb(228, 225, 225);
  border-top: 5px solid #104ef7;
}

.logo-bd {
  border-bottom: 3px solid #d32212;
  border-right: 3px solid #d32212;
}

.c-vs {
  font-size: large;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  padding-top: 5px;
  margin: auto;
}

.centered-sponser {
  margin-left: auto;
  margin-right: auto;
}

.the-magazine-h5 {
  margin-left: 40%;
}

.editors-tx {
  width: 80px;
  position: relative;
  top: -23px;
}

.slide-heading {
  font-size: 25px;
}

#img-sub {
  margin-top: -210px;
  margin-left: 70px;
}

.news-letter-img {
  width: 180px;
  height: 250px;
}

.footer-logo .brand svg {
  color: #f72210;
}

.social-footer i {
  font-size: 30px;
  color: #6e6d6d;
  padding: 0 5px 0 5px;
}

footer .copyright {
  font-size: 13px;
  color: rgb(78, 78, 78);
}

.nav-footer a {
  text-decoration: none;
  color: rgb(78, 78, 78);
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 5px;
}

.nav-footer .v-bar {
  border-right: 1px solid #cecdcd;
  color: white;
  font-size: smaller;
  margin-right: 2px;
  margin-bottom: 5px;
  height: 15px;
}

.nav-footer a:hover {
  color: black;
}

.social-footer i:hover {
  color: #104ef7;
}

.opinion .img-rd:hover {
  cursor: pointer;
}

.red-under2:hover {
  text-decoration: none;
  color: #f72210;
}

.the-debate .red-under2:hover {
  text-decoration: none;
  color: black;
}

.travel-tx2:hover {
  text-decoration: none;
  color: #474747;
}

.img-lg:hover {
  cursor: pointer;
}

.red-under1:hover {
  color: black;
  text-decoration: underline solid #f72210;
}

.nav-white a:hover {
  text-decoration: none;
  color: #f72210;
}